body {
    margin: 0;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    
}
#BGVID {
     position: fixed;
     top: 0;
     left: 0;
     right: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
     opacity: 0;
} 
#Box {
    position: relative;

    background-color: pink;
    border-style:outset;
    border-width: 15px;
    border-color: rgb(245, 224, 228);
   
    height: 1500px;
    width: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    display: flex;
    border-radius: 70px; 
    z-index: 1;
    
} 
.navbar{
    width: 100%;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
   

    list-style: none;
    font-size: 20px;
    background-color: bisque;
    
    padding: 0%;
    overflow: hidden;

  /*  border-top-left-radius: 30px;
    border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px; */
   
}
.navbar a{
    color: red;
    display: block;
    text-decoration: none;
    padding: 40px;
    justify-content: center;
}
.navbar a:hover{
    background-color: rgb(187, 152, 111);
 
}
.navbar li{
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(148, 83, 94);
    
}
