body {
    margin: 0;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    
}
#BGVID {
     position: fixed;
     top: 0;
     left: 0;
     right: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
     
} 
#Box {
    position: relative;

    background-color: pink;
    border-style:outset;
    border-width: 15px;
    border-color: rgb(245, 224, 228);
    box-shadow: 0px 0px 50px 5px white;
   
    height: 1500px;
    width: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    display: flex;
    flex-direction: column;
    border-radius: 70px; 
    z-index: 1;
    
} 
.navbar{
    width: 100%;
}

.navbar label{
    color: red;
    text-shadow: 5px 5px 5px rgb(199, 101, 20);
    display: block;
    text-decoration: none;
    padding: 20px;
    justify-content: center;
    font-size: 50px;
    font-family: "Indie Flower", 'Times New Roman', Times, serif;
}
.navbar label:hover{
    background-color: rgb(187, 152, 111);
 
}

.Header {
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(255, 2, 200);
    font-family: "Michroma", 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        background: linear-gradient(to right, rgb(145, 63, 145), rgb(209, 106, 163));

    padding-top: 10px;
    margin-bottom: 0;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit; 
    justify-content: center;

    animation: 3s linear 0s infinite running Glow;
}
@keyframes Glow {
    0% {text-shadow: 5px 5px 10px rgb(255, 2, 200);}
    20% {text-shadow: 10px 10px 20px rgb(255, 2, 2);}
    40% {text-shadow: 5px 5px 40px rgb(255, 230, 2);}
    60% {text-shadow: 10px 10px 10px rgb(2, 255, 78);}
    80% {text-shadow: 5px 5px 20x rgb(2, 61, 255);}
    100% {text-shadow: 10px 10px 40px rgb(255, 2, 2);}
}
#content1 img {
    width: 100%;
    max-height: 450px;
    height: 100%;
    border-radius: 1dvb;
    cursor: pointer;
    

}
.img :hover  {
   transform: scale(1.1);
   box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.9) ;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;

    list-style: none;
    background-color: bisque;
    
    padding: 0; font-size: 20px;
    overflow: hidden;
}
.navbar li {
    flex: 1;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(148, 83, 94);

    display: inline-block;
    cursor: pointer;
}
.mgaPic{
    position: relative;
    width: 96%;
    height: 450px;
    margin-bottom: 0px;
    margin-left: auto; margin-right: auto;
    padding: 20px;
    padding-bottom: 40px;
    background-color: rgb(131, 97, 118);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    justify-items: center;
    border-bottom-left-radius: 2%; border-bottom-right-radius: 2%; 
} 

.tabContent{
    display: none;
}
    #tab1:checked ~ #content1 {
        display: block;
    }
    #tab2:checked ~ #content2 {
        display: block;
    }
    #tab3:checked ~ #content3 {
        display: block;
    }

input[type="radio"]{
    display: none;
}
#content1 p{
    background-color: rgba(255, 255, 255, 0.3) ;

    margin: 15px 15px 15px 15px;
    text-align: left;
    display: block;
    font-size: 35px;

    letter-spacing: 1px;
    text-align: justify;
    width: fit-content;
    text-indent: 20%;
}
#content2 p{
    
    margin-top: 45px;
    text-align: left;
    display: block;
    font-size: 40px;
    margin-left: 15%;
    line-height: 12px; 
    letter-spacing: 2px;
}
.pangarap{
    margin-left: -2.5%;
    margin-top: 10%;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
#content3 p{
    
    margin-top: 45px;
    text-align: left;
    display: block;
    font-size: 40px;
    margin-left: 5%;
    line-height: 50px; 
    letter-spacing: 1px;
}