
#BGVID {
     position: fixed;
     top: 0;
     left: 0;
     right: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 50%;
     z-index: -1;
}
#box {
    position: relative;
    background-color: pink;
    border-style:outset;
    border-width: 15px;
    border-color: rgb(245, 224, 228);
   
    height: 350px;
    width: 500px;
    padding: 50px;
    position:relative;
    margin-left: auto; margin-right: auto;
    margin-top: 10%; margin-bottom: 10%;
    
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    z-index: 1;
} 

#P1{
    font-family: "Michroma", 'Times New Roman', Times, serif;
    color:  purple;
    font-size: 20px;
    position: absolute;
    margin-top: 0;
    top: 15px;

    text-align: center;
}
#P2{
    font-family: "Indie Flower", 'Times New Roman', Times, serif;
    color:  rgb(255, 0, 106);
    font-size: 80px;
    font-weight: bolder;
    position: absolute;
    top: 100px;
    text-align: center;
}
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.choice button{
    font-family: "Indie Flower", 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight:bolder;
    color: rgb(83, 20, 75);
    background-color: rgb(230, 151, 49);
    
    border-radius: 30px;
    padding: 30px;
    width: 220px;
    cursor: pointer;
}
.choice button:hover{
    background-color: rgb(36, 155, 36);
  transform: scale(70%);
}
